.row {
  display: flex;
  height: 20%;
  flex-grow: 1;
  border-bottom: 1px solid #373839;
}
.column {
  width: 14.287%;
}
.day {
  border-right: 1px solid #373839;
  text-align: center;
  padding-top: 10px
}
