<div class="field-group">
  <input type="text" placeholder="Add title" [(ngModel)]="task.title"/>
</div>
<div class="field-group">
  <input type="text" placeholder="October 2 2020" [(ngModel)]="task.date"/>
</div>
<div class="field-group">
  <input type="text" placeholder="11:30 AM" [(ngModel)]="task.startTime"/>
  <input type="text" placeholder="12:00 PM" [(ngModel)]="task.endTime"/>
</div>
<div class="field-group">
  <textarea placeholder="Add description" [(ngModel)]="task.description"></textarea>
</div>
<div class="button-group">
  <button class="button-save" (click)="onSave()">Save</button>
</div>
