.calendar-sheet-container{
  height: 100%;
  display: flex;
  flex-grow: 8;
  flex-direction: column;
  border-left: 1px solid #373839;
  border-top: 1px solid #373839;
}
.row {
  display: flex;
  height: 20%;
  flex-grow: 1;
  border-bottom: 1px solid #373839;
}
